<div id="wrapper">

	<div id="top-nav">
		<h2>{{user.local.username}}</h2>
		<h3><a href="/logout" class="btn btn-default btn-sm">Logout</a></h3>
		<div id="logo"><img src="../images/logo.png"></div>
	</div>{{!-- end top nav --}}
	
	<br>


<h3>Problem</h3>
<p>{{task.description}}<p>
<h3>Step Answer</h3>
<p>{{step.direction}}<p>
<img src="{{step.imageURL}}">

<div id="button_wrapper">
	<a href="/task/{{task._id}}"><button type="button" id="next"></button></a>
</div>

</div>